[build]
builder = "nixpacks"

[build.nixpacks]
providers = ["go"]

[build.nixpacks.phases.build]
# Gunakan "app" saja (tanpa / di depan), ini akan membuat binary di folder kerja saat ini
cmds = ["go build -o app ./cmd/server"]

[deploy]
# Gunakan ./app untuk menjalankan file di folder kerja
startCommand = "./app"
